table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
    border-radius: 25px;
}

th{
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
